*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

#header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2em;
  width: 100%;
  background-color: rgb(230, 206, 103);
}

#search-box{
  width: 50%;
  display: flex;
  align-items: center;
  background-color: rgb(255, 240, 175);
  border-radius: 10px;
  border: none;
}

input{
  padding: 2em 1em;
  width: 75%;
  background-color: rgb(255, 240, 175);
  border-radius: 10px;
  border: none;
}

input:focus {
    outline: none;
}

button{
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 240, 175);
  border-radius: 10px;
  border: none;
}

#sorting{
  display: flex;
  background-color: rgb(255, 240, 175);
  border-radius: 10px;
  align-items: center;
}



select{
  padding: 2em 1em;
  border-radius: 10px;
  border: none;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 240, 175);
}

option{
  display: flex;
  justify-content: center;
}

select:focus {
    outline: none;
}

body{
  background-color: rgb(255, 244, 234);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

#cards{
    width: 95%;
    display: grid;
    gap: 0.5em;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.card>img{
    width: 100%;

}

select{
  width: 100px;
}

.loader {
  overflow:hidden;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #65abf8;
  background: -moz-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -webkit-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -o-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: -ms-linear-gradient(left, #65abf8 10%, rgba(101,171,248, 0) 42%);
  background: linear-gradient(to right, #65abf8 10%, rgba(101,171,248, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #65abf8;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: white;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
